.bg-status-active {
  color: black;
  background-color: white;
  border: solid 0.01px burlywood;
}

.bg-status-closed {
  color: white;
  background-color: #0f2140;
  border: solid 0.01px burlywood;
}

.list-group {
  font-size: 110%;
  margin: 0 70px 0 70px;
}
