.nav {
  height: 100px;
  margin: 30px 0;
}

.nav .container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav button {
  margin: 0 15px;
  font-weight: 600;
}

.btn-login {
  padding-top: 8px;
}

.btn-login:hover {
  background-color: white;
  color: black;
}

.btn-login:hover .icon-login {
  filter: contrast(100%);
}

.btn-add-ticket {
  padding-top: 8px;
}

.btn-add-ticket:hover .icon-plus {
  filter: invert(100%);
}

.icon-login {
  height: 27px;
  width: auto;
  filter: invert(100%);
  padding-bottom: 3px;
  margin-left: 10px;
}

.icon-plus {
  height: 23px;
  width: auto;
  filter: invert(5%);
  padding-bottom: 3.5px;
  margin-left: 10px;
}
